{% extends "base.html" %}

{% block content %}
<h1>Manufacturers</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    {% for manufacturer in manufacturers_list %}
    <tr>
      <td>{{ manufacturer.name }}</td>
      <td>{{ manufacturer.country }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block pagination %}
  {% include "includes/pagination.html" with page_obj=page_obj %}
{% endblock %}